$screen-lg-min: 992px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin status {
  padding-left: 20px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

@mixin scroller {
  scrollbar-color: darkgray transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    color: darkgray;
  }
}

@mixin chat($bg, $fg, $align) {
  justify-content: $align;

  p {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1px;
    display: table;
    background-color: $bg;
    color: $fg;
  }

  small {
    text-align: $align;
    margin-top: 4px;
  }
}

.chat-box {
  border: 1px solid dodgerblue;
  padding-top: 15px;
  padding-right: 30px;
  display: block;
  width: 100%;

  @include lg {
    margin-right: 15px;
  }
}

.chat-messages {
  margin-bottom: 10px;
  list-style: none;

  div {
    display: grid;

    &.admin {
      @include chat(slategray, #000, left);
    }

    &.user {
      @include chat(dodgerblue, #fff, right);
    }
  }
}

.chat-container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  max-height: 250px;
  overflow: auto;

  @include scroller;
}

#chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 50%;

  @include lg {
    width: 30%;
  }
}

.close-chat {
  margin-bottom: 30px;
}

.connection-message {
  @include status;

  hr {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 50%;
    border-color: dimgray;
  }
}

.loader {
  @include status;

  display: table;
}
