$screen-lg-min: 992px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin chat($bg, $fg, $align) {
  justify-content: $align;

  p {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1px;
    display: table;
    background-color: $bg;
    color: $fg;
  }

  small {
    text-align: $align;
    margin-top: 4px;
  }
}

.chat-box {
  border: 1px solid dodgerblue;
  padding-top: 15px;
  padding-right: 30px;
  display: block;
  width: 100%;

  @include lg {
    margin-right: 15px;
  }
}

.chat-messages {
  margin-bottom: 10px;
  list-style: none;

  div {
    display: grid;

    &.admin {
      @include chat(slategray, #000, left);
    }

    &.user {
      @include chat(dodgerblue, #fff, right);
    }
  }
}

.chat-container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.close-chat {
  margin-bottom: 30px;
}
