{% extends "raft/main_area.html" %}
{% load static %}
{% block title %} Price Estimate {% endblock title %}
{% block breadcrumb %}
<li><a href="{% url 'services' %}">Services</a></li>
<li><span>Price Estimate</span></li>
{% endblock breadcrumb %}
{% block area %}
<section id="main" class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container uk-container-small">
    <header class="uk-text-center">
      <h1 class="uk-heading">Price Estimate</h1>
      <hr class="uk-divider-small uk-text-center">
    </header>
    <div class="uk-text-center">
      <p>Select from our services below to receive a price estimate</p>
    </div>
  </div>
  <div class="uk-container uk-container-large">
    <form id="form" class="uk-text-left" action="" method="POST">
      <div class="uk-child-width-1-4@s uk-child-width-expand@m uk-flex-center uk-grid-divider" uk-grid>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        {{ form.non_form_errors }}
        <fieldset class="uk-fieldset">
          <h4 class="">{{ form.legend }}</h4>
          <br>
          <div class="uk-margin uk-width-large">
            <div class="uk-text-center">
              <span id="{{ form.model.id }}" class="uk-text-danger uk-text-center">
                {% for error in form.errors.services %}
                {{ error }}
                {% endfor %}
              </span>
            </div>
            {{ form.services}}
          </div>
        </fieldset>
        {% endfor %}
      </div>
      <div class="uk-grid uk-width-1-4@m uk-align-center">
        <div class="uk-width-1-2@m uk-align-center">
          <input id="submit-button" type="submit" class="uk-button uk-button-primary" value="Calculate">
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock area %}
{% block body_js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'raft/js/estimate.js' %}"></script>
{% endblock body_js %}
