{% extends "raft/main_area.html" %}
{% load static i18n %}
{% block title %} Price Estimate {% endblock title %}
{% block breadcrumb %}
<li><a href="{% url 'services' %}">Services</a></li>
<li><span>Price Estimate</span></li>
{% endblock breadcrumb %}
{% block area %}
<section class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container uk-container-medium">
    <header class="uk-text-center">
      <h1 class="uk-heading">Price Estimate</h1>
      <hr class="uk-divider-small uk-text-center">
    </header>
    <div class="uk-text-center">
      <p class="uk-text-break">Select from our services below to receive a price estimate</p>
    </div>
  </div>
  <div id="estimate" class="toggle visible uk-container uk-container-large uk-animation-fade">
    <form id="form" class="uk-text-left" action="" method="POST">
      <div class="uk-child-expand@s uk-child-width-expand@m uk-flex-center uk-grid-divider" uk-grid>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <fieldset class="uk-fieldset">
          <h4 class="uk-text-center">{{ form.legend }}</h4>
          <div class="uk-margin uk-width-medium">
            <div class="uk-text-center">
              <span id="{{ form.model.id }}" class="uk-text-danger uk-text-center">
              </span>
            </div>
            {{ form.services}}
          </div>
        </fieldset>
        {% endfor %}
      </div>
      <div class="uk-grid uk-width-1-4@m uk-align-center">
        <div class="uk-width-1-2@m uk-align-center">
          <input id="submit-button" type="submit" class="uk-button uk-button-primary" value="Calculate">
        </div>
      </div>
    </form>
  </div>
  <div id="total" class="toggle uk-container uk-align-center uk-container-large ">
    <div class="uk-grid uk-grid-collapse uk-width-1-4@m uk-align-center uk-animation-fade" uk-grid>
        <div class="uk-column-span uk-text-center">
          <div class="uk-card uk-card-primary uk-card-body">
            <h2 class="">Your Total</h2>
            <hr class="uk-divider-icon">
            <h4 id="total-display"></h4>
          </div>
        <div class="uk-width-1-4@m uk-align-center">
          <button id="reload" class="uk-button uk-button-primary uk-text-center"><span class="" uk-icon="icon: refresh"></span></button>
        </div>
        <hr>
        <div class="uk-width-expand@m uk-align-center">
          <a href="{% url 'contact' %}" class="uk-button uk-button-primary uk-text-center">{% trans 'Get In Touch' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="footer-divider">
{% endblock area %}
{% block body_js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'raft/js/estimate.js' %}"></script>
{% endblock body_js %}
