{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}
{% load render_bundle from webpack_loader %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'node_modules/uikit/dist/css/uikit.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/css/app.css' %}">
<script src="{% static 'node_modules/uikit/dist/js/uikit.min.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; Live Chat
</div>
{% endblock %}
{% block content %}
<div class="uk-container uk-container-large">
  <div class="" uk-grid>
    <div id="admin-chat" style="width: 90%;">
      {% render_bundle 'admin' %}
    </div>
  </div>
</div>
{% endblock %}
{{ room_list|json_script:'rooms'}}
